<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WebSharper" version="2.5.114.49" targetFramework="net40" />
  <package id="WebSharper.ThreeJs" version="2.5.6.11" targetFramework="net40" />
  <package id="WebSharper.ThreeJs.TrackballControls" version="2.5.4.8" targetFramework="net40" />
</packages>