<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WebSharper" version="3.0.7.80-alpha" targetFramework="net40" />
  <package id="WebSharper.ThreeJs" version="3.0.4.24-alpha" targetFramework="net40" />
  <package id="WebSharper.ThreeJs.TrackballControls" version="3.0.3.18-alpha" targetFramework="net40" />
</packages>